.engine-header {
    letter-spacing: .7px;
}

.title {
    margin-left: 10px;
}

.inline {
    display: inline;
}

.engine-header-button {
    position: absolute !important;
    right: 10px;
}

h3 {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.gross-sales {
    font-size: 16px;
}

.sales-banner {
    height: 270px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: grid;
    grid-column-gap: 50px;
}

.sales-banner > div {
    margin: -60px 0px 0px 20px
}

.sales-title {
    margin-left: 20px;
    font-size: 24px;
    font-weight: 300;
}

.monthly-data {
    grid-column-start: 1;
}

.monthly-data > div {
    margin-bottom: 5px;
}

.channel-data {
    margin-top: -80px !important;
    grid-column-start: 2;
}

.channel-data {
    display: inline;
    width: 30vw;
}

.channel-part {
    display: inline;
}
.channel-info {
    float: right;
}

.green {
    color: #51c68b;
}

.red {
    color: #ee534b;
}

.channel-gross-sales {
    margin-right: 10px;
}

.below-banner {
    display: grid;
    column-count: 2;
}

.want-to {
    grid-column-start: 2;
}